body {
  font-family: sans-serif;
  line-height: 1.4;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

h2, h3 {
  padding-right: 10rem;
  position: relative;
}

h2[id]:before,
h3[id]:before {
  content: '#' attr(id);
  font-weight: normal;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}

h2 {
  margin-top: 3rem;
}

header, main, footer {
  margin: 0 auto;
  max-width: 33rem;
}

img {
  width: 100%;
}

footer {
  margin-bottom: 10rem;
  text-align: right;
}

.toc {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.toc:before {
  content: 'Jump To: ';
}

.toc li {
  display: inline-block;
  padding: 1rem 0;
}

.toc li {
  margin-left: 1rem;
}
